$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
// PCA: HUBSTUP's styles
$navbar-default-bg: #4CAF50;
$navbar-default-link-color: #fff;
$jumbotron-bg: rgba(165, 214, 167, 0.8);

@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-compass.scss';
/*
@import "coming_soon/vendor/flipclock.css";
@import "coming_soon/vendor/ionicons.min.css";
*/
body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
  /*
  .btn {
    background-color: #E8F5E9;
    color: #1B5E20;
  }
  */
  h2{
    margin: 0;
    color: #1B5E20;
  }

  h3 {
    margin-bottom: 40px;
  }

  input[type="text"].form-control{
    height: 33px;
  }

  .table-background{
    margin: 10px;
    background-color: rgba(238, 238, 238, 0.5);
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#background {
  position:fixed;
  left: 0px;
  top: 0px;
  background-size:100%;
  width:100%; height:100%;
  -webkit-user-select: none; -khtml-user-select: none;
  -moz-user-select: none; -o-user-select: none; user-select: none;
  z-index:-1;
}
